// CSS Constants
@import "utilities/constants";

// CSS Components
@import "components/board";
@import "components/modal";
@import "components/button";

// CSS Assets
@include tic-tac-toe-board-assets;
@include modal-assets;
@include button-assets;

body {
  background-color: $background-color;
  background-size: 100%;
  min-width: 960px;

  .game-content {
    padding-top: 120px;
    position: relative;
    margin: 0px auto;
    margin-top: 2.5%;
    width: 520px;
  }
}
