// ***********************************
// Constants
// ***********************************

// Color Schemes
$primary-home-color:        #2c3e50;
$secondary-home-color:      #1a242f;
$background-home-color:     #5f9f9f;

// Section Characteristics
$section-height:            800px;
